@import url(http://fonts.googleapis.com/css?family=Roboto);
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.538461538;
    color: #4c5058;
    background-color: white
}
.form-label-inline .form-group {
    margin-bottom: 11px;
    position: relative;
    transition: all 0.2s ease 0s;
}
.form-label-inline .form-group.has-error .form-control {
    border-color: #F76A5B;
    color: #F76A5B;
}
.form-label-inline .form-group.has-error label.in {
    color: #F76A5B;
}
.form-label-inline .form-group.has-error label.error {
    color: #F76A5B;
    font-size: 12px;
    margin-left: 13px;
    margin-top: 5px;
}
.form-label-inline fieldset:not(:last-child) {
    margin-bottom: 18px;
}
.form-label-inline legend {
    font-weight: 500;
}
.form-label-inline label {
    font-size: 14px;
    font-weight: 400;
}
.form-label-inline label.in {
    color: #838994;
    font-size: 12px;
    font-weight: 500;
    left: 13px;
    padding-right: 12px;
    position: absolute;
    top: 7px;
    transition: color 0.2s ease 0s;
    z-index: 1000;
}
.form-label-inline .input-vertical-base, .form-label-inline input[type="text"], .form-label-inline .select2-container .select2-choice > .select2-chosen, .select2-container .form-label-inline .select2-choice > .select2-chosen, .form-label-inline input[type="email"], .form-label-inline input[type="password"], .form-label-inline textarea, .form-label-inline .select2-container .select2-choice, .select2-container .form-label-inline .select2-choice {
    min-height: 56px;
}
.form-label-inline input[type="text"], .form-label-inline .select2-container .select2-choice > .select2-chosen, .select2-container .form-label-inline .select2-choice > .select2-chosen, .form-label-inline input[type="email"], .form-label-inline input[type="password"], .form-label-inline textarea {
    border-color: #CACCD1;
    font-size: 18px;
    letter-spacing: -0.02em;
    padding-bottom: 6px;
    padding-top: 23px;
    transition: border 0.2s ease 0s;
}
.form-label-inline input:focus {
    border-color: #838994;
}
.form-label-inline input:focus + label {
    color: #F15A29;
}
.form-label-inline input.required + label:after, .form-label-inline textarea.required + label:after, .form-label-inline select.required + label:after {
    color: #F15A29;
    content: "*";
    display: block;
    font-family: "Gotham A","Gotham B",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    position: absolute;
    right: 0;
    top: 0;
}
.form-label-inline .input-group-addon {
    background-color: #FFFFFF;
    padding: 0;
}
.form-label-inline .input-group-addon .btn {
    padding: 17px 20px 16px;
}
@media (min-width: 991px) {
.form-label-inline fieldset .row .col-xs-3:first-child, .form-label-inline fieldset .row .col-sm-3:first-child, .form-label-inline fieldset .row .col-md-3:first-child {
    padding-left: 15px;
    padding-right: 6px;
}
}
@media (min-width: 991px) {
.form-label-inline fieldset .row .col-xs-3:first-child + .col-xs-6, .form-label-inline fieldset .row .col-sm-3:first-child + .col-sm-6, .form-label-inline fieldset .row .col-md-3:first-child + .col-md-6 {
    padding-left: 6px;
    padding-right: 6px;
}
}
@media (min-width: 991px) {
.form-label-inline fieldset .row .col-xs-3, .form-label-inline fieldset .row .col-sm-3, .form-label-inline fieldset .row .col-md-3, .form-label-inline fieldset .row .col-xs-8 + .col-xs-4:last-child, .form-label-inline fieldset .row .col-sm-8 + .col-sm-4:last-child, .form-label-inline fieldset .row .col-md-8 + .col-md-4:last-child, .form-label-inline fieldset .row .col-xs-6:last-child, .form-label-inline fieldset .row .col-sm-6:last-child, .form-label-inline fieldset .row .col-md-6:last-child {
    padding-left: 6px;
}
}
@media (min-width: 991px) {
.form-label-inline fieldset .row .col-xs-8:first-child, .form-label-inline fieldset .row .col-sm-8:first-child, .form-label-inline fieldset .row .col-md-8:first-child, .form-label-inline fieldset .row .col-xs-6:first-child, .form-label-inline fieldset .row .col-sm-6:first-child, .form-label-inline fieldset .row .col-md-6:first-child {
    padding-right: 6px;
}
}
fieldset {
    border: 0 none;
    margin: 0;
    min-width: 0;
    padding: 0;
}
.form-label-inline input[type="text"], .form-label-inline .select2-container .select2-choice > .select2-chosen, .select2-container .form-label-inline .select2-choice > .select2-chosen, .form-label-inline input[type="email"], .form-label-inline input[type="password"], .form-label-inline textarea {
    border-color: #CACCD1;
    font-size: 18px;
    letter-spacing: -0.02em;
    padding-bottom: 6px;
    padding-top: 23px;
    transition: border 0.2s ease 0s;
}
.form-label-inline .input-vertical-base, .form-label-inline input[type="text"], .form-label-inline .select2-container .select2-choice > .select2-chosen, .select2-container .form-label-inline .select2-choice > .select2-chosen, .form-label-inline input[type="email"], .form-label-inline input[type="password"], .form-label-inline textarea, .form-label-inline .select2-container .select2-choice, .select2-container .form-label-inline .select2-choice {
    min-height: 56px;
}
textarea.form-control {
    height: auto;
}
.form-control {
    box-sizing: border-box;
    font-size: 14px;
    height: auto;
}
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CACCD1;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #4C5058;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 1.53846;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    overflow: auto;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.btn-primary {
    background-color: #F15A29;
    border-color: #F15A29;
    color: #FFFFFF;
    text-shadow: none;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.33;
    padding: 16px 26px;
}
.btn {
    -moz-osx-font-smoothing: auto;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.53846;
    padding: 17px 20px;
    transition: all 200ms ease 0s;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}
.btn-primary {
    background-color: #F15A29;
    border-color: #F15A29;
    color: #FFFFFF;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.53846;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}